*{
    /*border: solid 2px red;*/
    margin: 0px;
    padding: 0px;
   
}
h1, h2,h3,a, p {
    font-family: 'Roboto Mono', monospace;
}

body{
    text-align: left;
    /* Añade un margen izquierdo */
}

/*.header-container {
    margin-left: 0 !important;
    color: white;
    background-image: url("../img/fondo.jpg");
    background-size: cover;  Ajusta el tamaño de la imagen al header */
    /*background-position: center center;Centra la imagen en el header */
    /*background-repeat: no-repeat;  Evita que la imagen se repita */
    /*height: 300px;
    position: relative;
    overflow: hidden;
}*/


.wrapper{
    position: relative;
    overflow: hidden;
    /*background-color: black;*/
    background-image: url("../img/Baner1.jpeg");
    background-size: 100% auto; /* Cambiado para cubrir el ancho de la pantalla */
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px solid rgba(248, 246, 227, 0.596);
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 110%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}
@keyframes animate{
0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
}
100%{
    transform: scale(2.3) translateY(-210px) rotate(360deg);
    opacity: 0;
}
}
.ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }
